@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #3498db; /* Change to your preferred color */
    color: white;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    text-align: center;
}

.calculator h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ecf0f1; /* Change to your preferred color */
}

.input-box {
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
}

.input-box button {
    background: #27ae60; /* Change to your preferred color */
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

#result span {
    color: #f39c12; /* Change to your preferred color */
}
